<ng-navigation-bar ng-state="loggedIn"></ng-navigation-bar>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Sender Löschen?</h3>
    </div>
    <div class="modal-body">
        <p>Möchten sie den Sender wirklich löschen? Dieser Vorgang ist unwideruflich.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-delete" ng-click="ok()">Löschen</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1" ng-model="channel">
        <div class="page-header">
            <h1 id="forms">{{channel.title}}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <form class="form-horizontal">
            <fieldset>
                <legend>Senderinformationen</legend>
                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Titel</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTitle" ng-model="channel.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPos" class="col-lg-2 control-label">Senderposition</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPos" ng-model="channel.order_nr" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAnzeige" class="col-lg-2 control-label">Anzeigemodus</label>
                    <div class="col-lg-10">
                        <input type="checkbox" id="inputAnzeige" ng-model="channel.default" ng-true-value="'1'" ng-false-value="'0'">
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Sendertyp</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="channel.type" ng-options="t.name for t in types" ng-change="typeChange()"><option value="">-- Bitte einen Sendertypen auswählen --</option></select>
                    </div>
                </div>
                <div class="form-group" ng-if="channel.type.name=='IP-Stream'">
                    <label for="inputStream" class="col-lg-2 control-label">Live-Stream</label>
                    <div class="col-lg-10">
                        <ng-add-stream-url-light></ng-add-stream-url-light>
                    </div>
                </div>
                <div class="form-group" ng-if="channel.stream_urls.length > 0 && channel.type.name=='IP-Stream'">
                    <div ng-repeat="stream_url in channel.stream_urls" class="streamUrl">
                        <div class="form-group">
                            <label for="soDesc" class="col-lg-2 control-label">Stream Typ</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="soDesc" ng-model="stream_url.type" ng-options="t.name for t in streamTypes">
                                    <option value="">-- Bitte einen Sendertypen auswählen --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="soInput" class="col-sm-2 control-label">Stream Url</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="soInput" placeholder="Stream Url" ng-model="stream_url.stream_url">
                            </div>
                            <div class="col-sm-1">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeStreamUrl($index)"></span>
                            </div>
                        </div>
                        <hr class="form-group-divider">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRegion" class="col-lg-2 control-label">Region(en)</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputRegion" ng-model="channel.region">
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Meta-Daten</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="channel.sourcetype" ng-options="t.name for t in metaTypes"><option value="">-- Bitte einen Sendertypen auswählen --</option></select>
                    </div>
                </div>
                <div class="form-group" ng-if="channel.sourcetype.name == 'rtv'">
                    <label for="inputMeta" class="col-lg-2 control-label">RTV Kurzname</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputMeta" ng-model="channel.tag">
                    </div>
                </div>
                <div class="form-group" ng-if="channel.sourcetype.name == 'rtv'">
                    <label for="inputRecoGroup" class="col-lg-2 control-label">RTV Gruppe</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="channel.reco_group" ng-options="t.name for t in recoGroups"><option value="">-- Bitte eine Gruppe auswählen --</option></select> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <a ng-click="updateChannel()" class="btn btn-primary" type="submit">Sender aktualisieren</a>
                    </div>
                    <div class="col-lg-4">
                        <a ng-click="openModal(channel, $event)" class="btn btn-primary" type="submit">Sender löschen</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
