<ng-navigation-bar ng-state="loggedIn"></ng-navigation-bar>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="page-header">
            <h1 id="forms">Login</h1>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="row ">
    <div class=" col-lg-6 col-lg-offset-1">
        <div class="alert alert-dismissable alert-warning" ng-if="loginError">
            <a ng-click="dismissWarning()" class="close">×</a>
            <h4>Fehler!</h4>
            <p>{{errorMessage}}</p>
        </div>
        <form class="form-horizontal well">
            <fieldset>
                <legend>Zugang</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Benutzername</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Benutzername" ng-model="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Passwort</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Passwort" ng-model="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="" class="btn btn-primary" ng-click="login()" type="submit">Login</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
