<ng-navigation-bar ng-state="loggedIn"></ng-navigation-bar>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1" ng-model="channel">
        <div class="page-header">
            <h1 id="forms">Neuen Sender erstellen</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" id="newChannel">
            <fieldset>
                <legend>Senderinformationen</legend>
                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Titel</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTitle" ng-model="channel.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPos" class="col-lg-2 control-label">Senderposition</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPos" ng-model="channel.order_nr" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAnzeige" class="col-lg-2 control-label">Anzeigemodus</label>
                    <div class="col-lg-10">
                        <input type="checkbox" id="inputAnzeige" ng-model="channel.default" ng-true-value="'1'" ng-false-value="'0'">
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Sendertyp</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="channel.type" ng-options="t.name for t in types"><option value="">-- Bitte einen Sendertypen auswählen --</option></select>
                    </div>
                </div>
                <div class="form-group" ng-if="channel.type.name=='IP-Stream'" id="ipstream">
                    <label for="inputStream" class="col-lg-2 control-label">Live-Stream</label>
                    <div class="col-lg-10">
                        <ng-add-stream-url></ng-add-stream-url>
                    </div>
                    <hr/>
                </div>
                <div class="form-group">
                    <label for="inputRegion" class="col-lg-2 control-label">Region(en)</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputRegion" ng-model="channel.region">
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Meta-Daten</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" ng-model="channel.sourcetype" ng-options="t.name for t in metaTypes"><option value="">-- Bitte eine Datenquelle auswählen --</option></select>
                    </div>
                </div>
                <div class="form-group" ng-if="channel.sourcetype.name == 'rtv'">
                    <label for="inputMeta" class="col-lg-2 control-label">RTV Kurzname</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputMeta" ng-model="channel.tag">
                    </div>
                </div>
                <div class="form-group" ng-if="channel.sourcetype.name == 'rtv'">
                    <label for="inputRecoGroup" class="col-lg-2 control-label">RTV Gruppe</label>
                    <div class="col-lg-10">
                    <select class="form-control" id="select" ng-model="channel.reco_group" ng-options="t.name for t in recoGroups"><option value="">-- Bitte eine Gruppe auswählen --</option></select>                    
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a ng-click="create()" class="btn btn-primary" type="submit">Sender erstellen</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
