<ng-navigation-bar ng-state="loggedIn"></ng-navigation-bar>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
        <div class="page-header">
            <h1 id="forms">Senderübersicht
            <a href="" ng-click="allowSortable()" class="btn btn-primary right" type="submit" ng-if="!isSortable"><span class="glyphicon glyphicon-plus"></span> Kanalliste bearbeiten</a>
            <a href="" ng-click="allowSortable()" class="btn btn-primary right" type="submit" ng-if="isSortable"><span class="glyphicon glyphicon-minus"></span> Bearbeiten abbrechen</a></h1>
        </div>
    </div>
</div>
<div class="row col-lg-12 col-md">
    <div class="col-lg-8 col-lg-offset-1 col-md-9 col-sm-8 col-xs-12">
        <div class="epglist">
            <ul id="sortable" ui-sortable="sortableOptions" ng-model="epglist" class="list-group">
                <li ng-repeat="channel in epglist" class="list-group-item col-lg-3">
                   <span>
                       <h4 class="list-group-item-heading"> <span ng-if="isSortable" class="glyphicon glyphicon-align-justify"></span><a ng-click="showDetails(channel)" ng-if="!isSortable" >{{channel.title}}</a><span ng-if="isSortable">  {{channel.title}}</span><span class="badge right">{{$index+1}}</span></h4>
                   </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <a ng-if="isSortable" ng-click="updateEpg(epglist)" class="btn btn-primary" id="updateEpgButton" type="submit">Senderliste aktualisieren</a>
    </div>
</div>
<br/>
<br/>
