.clearfixIt:before,
.clearfixIt:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfixIt:after {
  clear: both;
}
.clearfixGone:before,
.clearfixGone:after {
  content: "";
  /* 1 */
  display: none;
  /* 2 */
}
.clearfixGone:after {
  clear: none;
}
/* Open Sans @font-face kit */
/* ########################################################### USED BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Light/OpenSans-Light.eot');
  src: url('../fonts/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Light/OpenSans-Light.woff') format('woff'), url('../fonts/Light/OpenSans-Light.ttf') format('truetype'), url('../fonts/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/LightItalic/OpenSans-LightItalic.eot');
  src: url('../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('../fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('../fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Regular/OpenSans-Regular.eot');
  src: url('../fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Regular/OpenSans-Regular.woff') format('woff'), url('../fonts/Regular/OpenSans-Regular.ttf') format('truetype'), url('../fonts/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Italic/OpenSans-Italic.eot');
  src: url('../fonts/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Italic/OpenSans-Italic.woff') format('woff'), url('../fonts/Italic/OpenSans-Italic.ttf') format('truetype'), url('../fonts/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Semibold/OpenSans-Semibold.eot');
  src: url('../fonts/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Semibold/OpenSans-Semibold.woff') format('woff'), url('../fonts/Semibold/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Bold/OpenSans-Bold.eot');
  src: url('../fonts/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Bold/OpenSans-Bold.woff') format('woff'), url('../fonts/Bold/OpenSans-Bold.ttf') format('truetype'), url('../fonts/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('../fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */
.openSansLight {
  font-family: 'Open Sans';
  font-weight: 300;
}
.openSansRegular {
  font-family: 'Open Sans';
  font-weight: normal;
}
.openSansSemibold {
  font-family: 'Open Sans';
  font-weight: 600;
}
.openSansBold {
  font-family: 'Open Sans';
  font-weight: bold;
}
.openSansExtraBold {
  font-family: 'Open Sans';
  font-weight: 800;
}
/* Open Sans @font-face kit */
/* BEGIN Light */
@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('../fonts/opensanscondensed_bold_german/OpenSans-CondBold-webfont.eot');
  src: url('../fonts/opensanscondensed_bold_german/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanscondensed_bold_german/OpenSans-CondBold-webfont.woff') format('woff'), url('../fonts/opensanscondensed_bold_german/OpenSans-CondBold-webfont.ttf') format('truetype'), url('../fonts/opensanscondensed_bold_german/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Light */
.openSansCondensedBold {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
}
html {
  font-size: 62.5%;
  /* Sets 10px as base to use simple multipliers */
}
h2.sectionheader {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 30px;
  font-size: 3rem;
}
h2.sectionheader strong {
  font-family: 'Open Sans';
  font-weight: 600;
}
h6 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  color: #0092c5;
}
.greenButtonTypo {
  font-family: "Arial", arial, verdana, helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.paragraph {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
}
.paragraph strong {
  font-family: 'Open Sans';
  font-weight: 600;
}
.sectionHeader {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 30px;
  font-size: 3rem;
  color: #003c78;
}
.sectionHeader strong {
  font-family: 'Open Sans';
  font-weight: 600;
}
@media only screen and (max-width: 669px) {
  .sectionHeader {
    font-size: 27px;
    font-size: 2.7rem;
  }
}
/*
      Header
*/
.header-main-nav {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  color: #171717;
}
.header-user-login {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #222222;
}
.header-meta-nav {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  color: #848385;
}
/*
      Footer
*/
.footer-main-nav {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
}
.footer-main-nav-to-top {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 14px;
  font-size: 1.4rem;
}
.meta-typo-tall {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 25px;
  font-size: 2.5rem;
  color: #041623;
}
.meta-typo-small {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  color: #000;
}
.meta-legal {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  color: rgba(0, 20, 27, 0.6);
}
/**
  ______   _____     _____
 |  ____| |  __ \   / ____|
 | |__    | |__) | | |  __
 |  __|   |  ___/  | | |_ |
 | |____  | |      | |__| |
 |______| |_|       \_____|

**/
.channelFilterLabel {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 15px;
  font-size: 1.5rem;
  color: #111111;
}
@media only screen and (max-width: 669px) {
  .channelFilterLabel {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
.channelFilterSelected {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  color: #0092c5;
}
@media only screen and (max-width: 669px) {
  .channelFilterSelected {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
.channelFilterOptionGroup {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  color: #323232;
}
@media only screen and (max-width: 669px) {
  .channelFilterOptionGroup {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
.channelFilterOptionActive {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  color: #0092c5;
}
@media only screen and (max-width: 669px) {
  .channelFilterOptionActive {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
.programType {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
}
.programName {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
}
.programNavButton {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 15px;
  font-size: 1.5rem;
}
.tvShowTime {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  font-size: 1.6rem;
}
.tvShowTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.tvShowDetail {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
}
.epgNowBar {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 13px;
  font-size: 1.3rem;
}
.epgHalfHourIndicators {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
}
/**
   _____   _                   _            _______  __      __     _____   _
  / ____| (_)                 | |          |__   __| \ \    / /    / ____| | |
 | (___    _   _ __     __ _  | |   ___       | |     \ \  / /    | (___   | |__     ___   __      __
  \___ \  | | | '_ \   / _` | | |  / _ \      | |      \ \/ /      \___ \  | '_ \   / _ \  \ \ /\ / /
  ____) | | | | | | | | (_| | | | |  __/      | |       \  /       ____) | | | | | | (_) |  \ V  V /
 |_____/  |_| |_| |_|  \__, | |_|  \___|      |_|        \/       |_____/  |_| |_|  \___/    \_/\_/
                        __/ |
                       |___/
**/
.singleTvShowTitle {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 34px;
  font-size: 3.4rem;
}
.singleTvShowSubTitle {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 25px;
  font-size: 2.5rem;
}
.singleTvShowTimeslotInfo {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
}
.singleTvShowDetailsTypeOfShow {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
}
.singleTvShowDetailsRuntimeSubtitle {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 10px;
  font-size: 1rem;
  color: #0092c5;
}
.singleTvShowChannelButton {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
}
.singleTvShowDetailsText {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
}
.singleTvShowDetailsText strong {
  font-family: 'Open Sans';
  font-weight: bold;
}
/*
          MINI EPG
*/
.typo-mini-epg-name {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
}
.typo-mini-epg-h5 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.typo-mini-epg-h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*

    FAQ

*/
.typo-faq-category-header {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
}
.typo-faq-question-header {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
}
/*
    News
*/
.typo-news-pagination {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 17px;
  font-size: 1.7rem;
}
.typo-news-pagination strong {
  font-family: 'Open Sans';
  font-weight: bold;
  color: #009dd3;
  cursor: default;
}
.typo-news-h3 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
}
.typo-news-h4 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
}
.typo-news-p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
}
.typo-news-moreLess {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
  color: #99c420;
}
/*
  Image with text combination
*/
.typo-image-text-combination-h3 {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 34px;
  font-size: 3.4rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 669px) {
  .typo-image-text-combination-h3 {
    font-size: 30px;
    font-size: 3rem;
  }
}
.typo-teaser-social {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 22px;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.typo-teaser-social span {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 3.1rem;
}
.button {
  font-family: "Arial", arial, verdana, helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  color: #ffffff;
  background: #abda29;
  /* Old browsers */
  background: -moz-linear-gradient(top, #abda29 0%, #96c11f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #abda29), color-stop(100%, #96c11f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #abda29 0%, #96c11f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #abda29 0%, #96c11f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #abda29 0%, #96c11f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #abda29 0%, #96c11f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abda29', endColorstr='#96c11f', GradientType=0);
  /* IE6-9 */
  border: none;
  margin-top: 1rem;
  padding: 1rem 2.1rem 1rem 2.0rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  float: right;
  text-decoration: none !important;
  color: #FFF !important;
}
@media only screen and (max-width: 669px) {
  .button {
    width: 100%;
    float: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
  }
}
.button.negative {
  background: none;
  color: #000 !important;
  text-shadow: none;
}
.button.back {
  background: none;
  color: #333 !important;
  text-shadow: none;
}
.icon-title {
  background: url(../img/title-icons.png) no-repeat;
  background-size: 1.6rem 25.6rem;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  padding-left: 2.5rem;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  font-size: 2rem;
}
.icon-title:after {
  position: absolute;
  width: 980px;
  left: 100%;
  margin-left: 10px;
  content: '';
  display: inline-block;
  border-bottom: 5px solid rgba(94, 169, 221, 0.25);
  bottom: 6px;
}
.icon-recommendation {
  background-position: 0 0;
}
.icon-recommendation:after {
  border-bottom: 5px solid rgba(200, 196, 134, 0.25);
}
.icon-register {
  background-position: 0 -3.2rem;
}
.icon-mini-epg {
  background-position: 0 -9.6rem;
}
.icon-mini-epg:after {
  border-bottom: 5px solid rgba(94, 169, 221, 0.25);
}
.icon-live-stream {
  background-position: 0 -6.4rem;
}
.icon-twitter {
  background-position: 0 -12.8rem;
}
.icon-contact {
  background-position: 0 -16rem;
}
.icon-addresse {
  background-position: 0 -19.2rem;
}
.icon-social-networks {
  background-position: 0 -22.4rem;
}
form {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 1.4rem;
}
form .clearfix {
  margin-top: 0.5rem;
}
form .hint {
  color: #6d6d6d;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.teaser form {
  margin-top: 1rem;
}
fieldset {
  width: 100%;
}
fieldset.halfSize {
  width: 15.5rem;
  float: left;
}
fieldset.halfSize + .halfSize {
  margin-left: 1rem;
}
label {
  margin-bottom: 0.5rem;
  display: inline-block;
}
textarea {
  width: 100%;
  height: 10rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 3.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: 1px solid #009dd3;
}
input[type="text"].error,
input[type="email"].error,
input[type="password"].error {
  border: 1px solid red;
}
input[type="text"] + label,
input[type="email"] + label,
input[type="password"] + label {
  margin-top: 1rem;
}
input[type="checkbox"] {
  float: left;
}
input[type="checkbox"] + label {
  float: left;
  width: 90%;
  margin-left: 1rem;
  color: #6d6d6d;
  font-size: 1.2rem;
}
.header {
  height: 100px;
}
.teaser {
  width: 32rem;
  margin-bottom: 1rem;
  float: left;
  overflow: hidden;
}
.teaser + .teaser {
  margin-left: 1rem;
}
@media only screen and (max-width: 669px) {
  .teaser + .teaser {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1006px) {
  .teaser.tablet-wide {
    width: 100%;
  }
}
.teaser.wide {
  width: 65rem;
}
@media only screen and (max-width: 669px) {
  .teaser.wide {
    width: 32rem;
  }
}
@media only screen and (max-width: 1006px) {
  .teaser + .teaser.wide {
    margin-left: 0;
  }
}
.teaser img {
  width: 100%;
}
.teaser .text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  padding: 1rem 0 1rem;
}
@media only screen and (max-width: 669px) {
  .teaser .text {
    padding: 1rem 1rem 1rem;
  }
}
.teaser .text {
  padding-top: 0;
}
.teaser .text h3 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Open Sans';
  font-weight: 600;
  margin: 0;
}
.teaser .text h3 + p {
  margin-top: 1rem;
}
.teaser .text p {
  margin-top: 0;
}
.teaser img + .text h3 {
  margin: 0.4rem 0 0;
}
.teaser img + .text p {
  margin-top: 1rem;
}
.teaser.addresse iframe {
  margin-top: 1rem;
}
.teaser.addresse iframe + h6 {
  margin: 0;
}
.teaser.register-now div {
  position: relative;
  margin-top: 1rem;
}
.teaser.register-now p {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  margin: 0;
  color: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  font-size: 1.5rem;
  background-color: rgba(0, 27, 57, 0.6);
}
.teaser.social-networks a {
  height: 5.8rem;
  background-image: url(../img/social-icons.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 5.8rem 11.6rem;
  padding-left: 6.8rem;
  margin-bottom: 2rem;
  display: inline-block;
  color: #3b579d;
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 22px;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.teaser.social-networks a span {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 3.1rem;
}
.teaser.social-networks a span {
  display: block;
}
.teaser.social-networks .twitter {
  color: #5ea9dd;
  background-position: bottom left;
}
.clear2 + .teaser,
.teaser + .teaser {
  margin-left: 1rem;
}
@media only screen and (max-width: 1006px) {
  .teaser + .teaser.tablet-wide {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1006px) {
  .clear2 + .teaser {
    margin-left: 0;
  }
  .teaser + .clear3 + .teaser {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 669px) {
  .teaser + .teaser,
  .teaser + .clear3 + .teaser {
    margin-left: 0;
  }
}
.imageWithText {
  margin-bottom: 2rem;
  color: #333333;
}
.imageWithText:before,
.imageWithText:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.imageWithText:after {
  clear: both;
}
.imageWithText img {
  width: 32rem;
  float: left;
  margin-right: 1rem;
}
.imageWithText a {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
  color: #99c420;
  text-decoration: underline;
  margin-top: 1rem;
}
.imageWithText h3 {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 34px;
  font-size: 3.4rem;
  text-transform: uppercase;
  margin: 0;
  line-height: 3.1rem;
  margin-top: -0.2rem;
}
@media only screen and (max-width: 669px) {
  .imageWithText h3 {
    font-size: 30px;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1006px) {
  .imageWithText h3 br {
    display: none;
  }
}
.imageWithText .description {
  width: 65rem;
  float: left;
}
@media only screen and (max-width: 1006px) {
  .imageWithText .description {
    width: 32rem;
  }
}
.mini-epg a {
  color: #fefefe;
}
.mini-epg .channel {
  width: 100%;
  height: 5.9rem;
  margin-top: 0.1rem;
  background-color: #009acf;
  background: -webkit-gradient(linear, left top, left bottom, from(#009acf), to(#0080ac));
  background: -webkit-linear-gradient(top, #009acf, #0080ac);
  background: -moz-linear-gradient(top, #009acf, #0080ac);
  background: -ms-linear-gradient(top, #009acf, #0080ac);
  background: -o-linear-gradient(top, #009acf, #0080ac);
  cursor: pointer;
}
.mini-epg .progress {
  height: 0.3rem;
  background-color: #77ddff;
}
.mini-epg .progress span {
  background-color: #0f6583;
  border-right: 0.2rem solid #ffffff;
  height: 0.3rem;
  display: block;
  width: 0;
}
.mini-epg .name {
  width: 9.7rem;
  background-color: #008dbd;
  background: -webkit-gradient(linear, left top, left bottom, from(#008dbd), to(#0077a1));
  background: -webkit-linear-gradient(top, #008dbd, #0077a1);
  background: -moz-linear-gradient(top, #008dbd, #0077a1);
  background: -ms-linear-gradient(top, #008dbd, #0077a1);
  background: -o-linear-gradient(top, #008dbd, #0077a1);
  height: 5.6rem;
  line-height: 5.9rem;
  float: left;
  border-right: 1px solid #007ba5;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0 1rem;
}
.mini-epg .showTitle {
  width: 14rem;
  border-left: 1px solid #4db8dc;
  border-right: 1px solid #007ba5;
  float: left;
  height: 5.6rem;
  padding: 0 1rem;
}
.mini-epg .showTitle h5 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0.9rem;
}
.mini-epg .showTitle h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mini-epg.wide .showTitle {
  width: 47.1rem ;
}
@media only screen and (max-width: 669px) {
  .mini-epg.wide .showTitle {
    width: 14.1rem;
  }
}
.mini-epg .playButton {
  border-left: 1px solid #4db8dc;
  float: left;
  height: 5.6rem;
  background: url(../img/mini-epg-play.png) no-repeat top left;
  width: 3.8rem;
  background-size: cover;
}
.mini-epg .playButton.finished {
  background: transparent;
}
.mini-epg .playButton:hover {
  background-position: bottom left;
}
.epg {
  overflow: hidden;
  position: relative;
}
.epg .filterNav {
  width: 98rem;
  height: 5.2rem;
  margin-bottom: 1rem;
  background-color: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
  background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
  background: -moz-linear-gradient(top, #efefef, #e5e5e5);
  background: -ms-linear-gradient(top, #efefef, #e5e5e5);
  background: -o-linear-gradient(top, #efefef, #e5e5e5);
  z-index: 3001;
  position: relative;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 15px;
  font-size: 1.5rem;
  color: #111111;
}
@media only screen and (max-width: 669px) {
  .epg .filterNav {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1006px) {
  .epg .filterNav {
    width: 65rem;
  }
}
@media only screen and (max-width: 669px) {
  .epg .filterNav {
    width: 32rem;
  }
}
.epg .filterNav .onlyFavourites {
  line-height: 5rem;
  float: right;
  padding: 0 2rem 0 2rem;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 669px) {
  .epg .filterNav .onlyFavourites {
    display: none;
  }
}
.epg .filterNav .onlyFavourites.active .onlyFavsIcon {
  background: url(../img/onlyFavourites.png) no-repeat left bottom;
  background-size: 1.4rem 2.8rem;
}
.epg .filterNav .onlyFavourites .onlyFavsIcon {
  vertical-align: middle;
  background: url(../img/onlyFavourites.png) no-repeat left top;
  background-size: 1.4rem 2.8rem;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.7rem;
}
.epg .filterNav .dropdown {
  float: left;
  position: relative;
  line-height: 5.2rem;
  margin-right: 1.5rem;
  cursor: pointer;
}
@media only screen and (max-width: 669px) {
  .epg .filterNav .dropdown {
    margin-right: 0;
  }
}
.epg .filterNav .dropdown:hover .options {
  -webkit-box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
}
.epg .filterNav .dropdown .label {
  padding: 0 1.5rem 0 2rem;
  background-color: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
  background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
  background: -moz-linear-gradient(top, #efefef, #e5e5e5);
  background: -ms-linear-gradient(top, #efefef, #e5e5e5);
  background: -o-linear-gradient(top, #efefef, #e5e5e5);
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 669px) {
  .epg .filterNav .dropdown .label {
    padding: 0 0.5rem 0 1rem;
  }
}
.epg .filterNav .dropdown .label:after {
  background: url(../img/dropdown-arrow.png) no-repeat right center;
  background-size: 1.1rem 0.8rem;
  content: ' ';
  width: 1.2rem;
  height: 1rem;
  display: inline-block;
  margin-left: 0.5rem;
}
.epg .filterNav .dropdown a {
  display: none;
  background-color: #ededed;
  padding: 0 1rem 0 2rem;
  line-height: 5rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e4e4e4;
  color: #000;
}
.epg .filterNav .dropdown a:hover {
  background-color: #d2d2d2;
}
.epg .filterNav .dropdown a.indent {
  padding-left: 3rem;
}
.epg .filterNav .dropdown a.group {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  color: #323232;
}
@media only screen and (max-width: 669px) {
  .epg .filterNav .dropdown a.group {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
.epg .filterNav .dropdown a.active {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  color: #0092c5;
}
@media only screen and (max-width: 669px) {
  .epg .filterNav .dropdown a.active {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
.epg .filterNav .dropdown .options {
  position: absolute;
  width: 96%;
  margin: 0 2%;
  max-height: 41.6rem;
  overflow-y: auto;
  z-index: 1;
}
.epg .filterNav .dropdown:focus a,
.epg .filterNav .dropdown:hover a {
  display: block;
}
@media only screen and (max-width: 1006px) {
  .epg .filterNav .dropdown.channelRecommendations {
    display: none;
  }
}
.epg .filterNav span {
  margin-left: 1rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  color: #0092c5;
}
@media only screen and (max-width: 669px) {
  .epg .filterNav span {
    font-size: 11px;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1006px) {
  .epg .filterNav {
    margin-bottom: 0;
  }
}
.epg .filterNav.epg-fixed {
  top: 0;
  left: 50%;
  margin-left: -49rem;
  width: 98rem;
  z-index: 3001;
}
@media only screen and (max-width: 1006px) {
  .epg .filterNav.epg-fixed {
    width: 65rem;
    margin-left: -32.5rem;
  }
}
@media only screen and (max-width: 669px) {
  .epg .filterNav.epg-fixed {
    width: 32rem;
    left: 0;
    margin-left: 0;
  }
}
.epg .programNav {
  width: 10rem;
  height: 800px;
  float: left;
  background: rgba(239, 239, 239, 0.4);
  z-index: 3000;
  position: relative;
}
.epg .programNav.epg-fixed {
  top: 6.2rem;
  left: 50%;
  margin-left: -49rem;
}
@media only screen and (max-width: 1006px) {
  .epg .programNav.epg-fixed {
    top: 5.2rem;
    margin-left: -32.5rem;
  }
}
@media only screen and (max-width: 669px) {
  .epg .programNav.epg-fixed {
    width: 32rem;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 1006px) {
  .epg .programNav {
    height: 6.9rem;
    width: 65rem;
    margin-bottom: 1rem;
    background: rgba(239, 239, 239, 0.8);
  }
}
.epg .arrowButton {
  width: 4.9rem;
  height: 6.9rem;
  display: block;
  float: left;
  margin-bottom: 2rem;
  background: url(../img/programNav-arrows.png) #c1c1c1;
  background: url(../img/programNav-arrows.png) -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), to(#a0a0a0));
  background: url(../img/programNav-arrows.png) -webkit-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: url(../img/programNav-arrows.png) -moz-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: url(../img/programNav-arrows.png) -ms-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: url(../img/programNav-arrows.png) -o-linear-gradient(top, #c1c1c1, #a0a0a0);
  background-position: center 0.3rem;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media only screen and (max-width: 1006px) {
  .epg .arrowButton {
    height: 5.3rem;
    margin-top: 0.8rem;
    background-position: center -0.4rem;
  }
}
@media only screen and (max-width: 669px) {
  .epg .arrowButton {
    display: none;
  }
}
.epg .arrowButton.disabled {
  opacity: 0.3;
  cursor: default;
}
.epg .arrowButton.navLeft {
  margin-right: 0.2rem;
  margin-right: 2px;
  background-position: center -7.5rem;
}
@media only screen and (max-width: 1006px) {
  .epg .arrowButton.navLeft {
    background-position: center -8.2rem;
  }
}
.epg .programNavButton {
  height: 5.2rem;
  width: 10rem;
  display: block;
  background-color: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
  background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
  background: -moz-linear-gradient(top, #efefef, #e5e5e5);
  background: -ms-linear-gradient(top, #efefef, #e5e5e5);
  background: -o-linear-gradient(top, #efefef, #e5e5e5);
  float: left;
  text-align: center;
  color: #000;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 0.1rem;
  margin-bottom: 1px;
  vertical-align: middle;
  line-height: 5.2rem;
}
@media only screen and (max-width: 1006px) {
  .epg .programNavButton {
    margin-left: 1rem;
    margin-top: 0.8rem;
  }
}
.epg .programNavButton.daySelect {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: 'Open Sans';
  font-weight: normal;
  background-color: #c1c1c1;
  background: -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), to(#a0a0a0));
  background: -webkit-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: -moz-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: -ms-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: -o-linear-gradient(top, #c1c1c1, #a0a0a0);
}
@media only screen and (max-width: 669px) {
  .epg .programNavButton.daySelect {
    margin-left: 0;
  }
}
@media only screen and (max-width: 669px) {
  .epg .programNavButton.timePrime,
  .epg .programNavButton.timeLate {
    display: none;
  }
}
.epg .programNavButton.active {
  -webkit-box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: 'Open Sans';
  font-weight: bold;
  background-color: #007198;
  background: -webkit-gradient(linear, left top, left bottom, from(#007198), to(#0096ca));
  background: -webkit-linear-gradient(top, #007198, #0096ca);
  background: -moz-linear-gradient(top, #007198, #0096ca);
  background: -ms-linear-gradient(top, #007198, #0096ca);
  background: -o-linear-gradient(top, #007198, #0096ca);
}
.epg .channels {
  padding-left: 10rem;
}
@media only screen and (max-width: 1006px) {
  .epg .channels {
    padding-left: 0;
  }
}
@media only screen and (max-width: 669px) {
  .epg .channels {
    display: none;
  }
}
.epg .channels.fixed-layout {
  padding-top: 15.1rem;
}
.epg .programColumn {
  margin-left: 1rem;
  float: left;
  width: 21rem;
  position: relative;
}
@media only screen and (max-width: 1006px) {
  .epg .programColumn {
    margin-left: 0;
  }
  .epg .programColumn + .programColumn {
    margin-left: 1rem;
  }
  .epg .programColumn + .programColumn + .programColumn + .programColumn {
    display: none;
  }
}
.epg .channelHeaders {
  z-index: 3000;
  position: relative;
  height: 6.7rem;
  margin-left: 10rem;
}
@media only screen and (max-width: 1006px) {
  .epg .channelHeaders {
    padding-left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 669px) {
  .epg .channelHeaders {
    display: none;
  }
}
.epg .channelHeaders.epg-fixed {
  top: 6.2rem;
  left: 50%;
  margin-left: -39rem;
}
@media only screen and (max-width: 1006px) {
  .epg .channelHeaders.epg-fixed {
    top: 13.2rem;
    padding-left: 0;
    margin-left: -32.5rem;
  }
}
.epg .programHeader {
  margin-left: 1rem;
  float: left;
  width: 20.8rem;
  height: 6.7rem;
  background: #555;
  margin-bottom: 2rem;
  color: #ffffff;
  border: 1px solid #00aae5;
  position: relative;
}
@media only screen and (max-width: 1006px) {
  .epg .programHeader {
    margin-left: 0;
  }
  .epg .programHeader + .programHeader {
    margin-left: 1rem;
  }
  .epg .programHeader + .programHeader + .programHeader + .programHeader {
    display: none;
  }
}
.epg .programType {
  padding: 0 1rem;
  background-color: #009bd0;
  background: -webkit-gradient(linear, left top, left bottom, from(#009bd0), to(#0091c2));
  background: -webkit-linear-gradient(top, #009bd0, #0091c2);
  background: -moz-linear-gradient(top, #009bd0, #0091c2);
  background: -ms-linear-gradient(top, #009bd0, #0091c2);
  background: -o-linear-gradient(top, #009bd0, #0091c2);
  border-bottom: 1px solid #0078a2;
  height: 2.7rem;
  vertical-align: middle;
  line-height: 2.7rem;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
}
.epg .programName {
  text-align: center;
  background-color: #0084b1;
  background: -webkit-gradient(linear, left top, left bottom, from(#0084b1), to(#0077a1));
  background: -webkit-linear-gradient(top, #0084b1, #0077a1);
  background: -moz-linear-gradient(top, #0084b1, #0077a1);
  background: -ms-linear-gradient(top, #0084b1, #0077a1);
  background: -o-linear-gradient(top, #0084b1, #0077a1);
  border-top: 1px solid #2798be;
  height: 3.8rem;
  vertical-align: middle;
  line-height: 4rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
}
.epg .favIcon {
  width: 2.7rem;
  height: 2.7rem;
  background: url(../img/programFavourite.png) no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.epg .favIcon.active {
  background-position: 0 -2.7rem;
}
.epg .tvShow {
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.epg .tvShow .image {
  width: 100%;
  height: 9rem;
  overflow: hidden;
  position: relative;
  background-color: #003c78;
  display: block;
  background-size: cover;
  background-position: center center;
}
.epg .tvShow.playNow .image:after {
  content: '';
  background: url(../img/epg-play.png);
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}
.epg .tvShow .showTime {
  padding: 0 1rem;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .tvShow .showTitle {
  padding: 0 1rem;
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  text-transform: uppercase;
}
.epg .tvShow .showRating,
.epg .tvShow .showDetails,
.epg .tvShow .more,
.epg .tvShow .share {
  display: none;
}
.epg .tvShow .more {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
  color: #99c420;
  font-size: 13px;
  font-size: 1.3rem;
  text-decoration: underline;
  margin: 1rem;
  color: #000;
  float: left;
}
.epg .tvShow .share {
  text-indent: -999rem;
  width: 5.5rem;
  height: 2rem;
  cursor: pointer;
  margin: 10px;
  float: right;
  background: url(../img/fb-share.png) no-repeat left top;
}
.epg .tvShow .share:hover {
  background-position: left bottom;
}
.epg .tvShow.active {
  overflow: visible;
}
.epg .tvShow.active .showWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
  background-color: #fefbf4;
  -webkit-box-shadow: 0 0 0.8rem 0.5rem rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 0.8rem 0.5rem rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 0.8rem 0.5rem rgba(0, 0, 0, 0.35);
}
.epg .tvShow.active .showRating {
  display: block;
}
.epg .tvShow.active .showDetails {
  clear: left;
  display: block;
  padding: 0 1rem;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
}
.epg .tvShow.active .more {
  display: inline-block;
}
.epg .tvShow.active .share {
  display: inline-block;
}
.epg .scheme-1 .tvShow {
  background: rgba(243, 145, 0, 0.12);
}
.epg .scheme-1 .tvShow .showTitle {
  color: #f39100;
}
.epg .scheme-2 .tvShow {
  background: rgba(0, 60, 120, 0.12);
}
.epg .scheme-2 .tvShow .showTitle {
  color: #003c78;
}
.epg .scheme-3 .tvShow {
  background: rgba(35, 103, 14, 0.12);
}
.epg .scheme-3 .tvShow .showTitle {
  color: #23670e;
}
.epg .scheme-4 .tvShow {
  background: rgba(0, 148, 199, 0.12);
}
.epg .scheme-4 .tvShow .showTitle {
  color: #0094c7;
}
.epg .epg-fixed {
  position: fixed;
  z-index: 3000;
}
@media only screen and (max-width: 669px) {
  .epg .epg-fixed {
    position: relative;
  }
}
.epg .halfHourIndicators {
  position: absolute;
  top: 0;
  left: 11rem;
}
@media only screen and (max-width: 1006px) {
  .epg .halfHourIndicators {
    top: 7rem;
    left: 0;
  }
}
.epg .halfHourIndicators div {
  position: absolute;
  width: 89.5rem;
  border-top: 1px dotted rgba(0, 60, 120, 0.4);
}
@media only screen and (max-width: 1006px) {
  .epg .halfHourIndicators div {
    width: 67.5rem;
  }
}
@media only screen and (max-width: 669px) {
  .epg .halfHourIndicators div {
    display: none;
  }
}
.epg .halfHourIndicators span {
  position: absolute;
  right: 1.6rem;
  top: 1.2rem;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right top 0;
  -moz-transform-origin: right top 0;
  -or-transform-origin: right top 0;
  -o-transform-origin: right top 0;
  transform-origin: right top 0;
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  color: #b1b1b1;
}
.epg .nowBar {
  height: 2rem;
  width: 95rem;
  background-color: rgba(223, 20, 61, 0.15);
  color: #131313;
  border-right: 0.8rem #df143d solid;
  position: absolute;
  top: 410px;
  left: 11rem;
  text-align: right;
  line-height: 2rem;
  padding-right: 0.7rem;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 13px;
  font-size: 1.3rem;
  pointer-events: none;
}
@media only screen and (max-width: 1190px) {
  .epg .nowBar {
    width: 88rem;
  }
}
@media only screen and (max-width: 1050px) {
  .epg .nowBar {
    width: 85.5rem;
  }
}
@media only screen and (max-width: 1006px) {
  .epg .nowBar {
    left: 0;
    width: 73rem;
  }
}
@media only screen and (max-width: 860px) {
  .epg .nowBar {
    width: 66rem;
  }
}
@media only screen and (max-width: 720px) {
  .epg .nowBar {
    width: 63.5rem;
  }
}
@media only screen and (max-width: 669px) {
  .epg .nowBar {
    display: none;
  }
}
.epg .mobile {
  display: none;
  width: 100%;
  height: 300px;
  background-color: rgba(30, 144, 255, 0.3);
}
@media only screen and (max-width: 669px) {
  .epg .mobile {
    display: block;
  }
}
.single-tv-show .showInfo {
  width: 65rem;
  margin-right: 1rem;
  float: left;
  padding-bottom: 3rem;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 669px) {
  .single-tv-show .showInfo {
    width: 32rem;
  }
}
.single-tv-show .preview {
  width: 100%;
  position: relative;
  max-height: 32rem;
  overflow: hidden;
}
.single-tv-show img {
  width: 100%;
  position: relative;
  top: 0;
}
.single-tv-show .previewPlay {
  background: url(../img/singleTVShowPlayButton.png) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.single-tv-show h1 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 34px;
  font-size: 3.4rem;
}
.single-tv-show h2 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 25px;
  font-size: 2.5rem;
}
.single-tv-show .description {
  float: left;
  width: 43rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 669px) {
  .single-tv-show .description {
    width: 32rem;
  }
}
.single-tv-show h3 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
}
.single-tv-show .details {
  float: left;
  width: 18.5rem;
  padding-left: 1rem;
  border-left: solid rgba(8, 160, 212, 0.2) 0.5rem;
}
@media only screen and (max-width: 669px) {
  .single-tv-show .details {
    padding-left: 0;
    border-left: none;
    border-top: solid rgba(8, 160, 212, 0.2) 0.5rem;
    width: 32rem;
  }
}
.single-tv-show .details .showRating {
  margin-left: 0;
}
.single-tv-show .details span {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
}
.single-tv-show .details p {
  clear: both;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
}
.single-tv-show .details p strong {
  font-family: 'Open Sans';
  font-weight: bold;
}
.single-tv-show .details .additionalInformation {
  list-style: none;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 10px;
  font-size: 1rem;
  color: #0092c5;
  padding-left: 0;
}
.single-tv-show .details .additionalInformation li {
  float: left;
  padding-left: 1.8rem;
  margin-right: 0.4rem;
  background: url(../img/singleTVShowDetailIcons.png) no-repeat left top;
}
.single-tv-show .details .additionalInformation li.hasSubtitles {
  background-position: 0 -2rem;
}
.single-tv-show aside {
  width: 32rem;
  float: left;
  overflow: hidden;
}
.single-tv-show aside .icon-title {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  font-size: 2rem;
}
@media only screen and (max-width: 1006px) {
  .single-tv-show aside {
    width: 65rem;
  }
}
@media only screen and (max-width: 669px) {
  .single-tv-show aside {
    width: 32rem;
  }
}
.single-tv-show .twitterFeed {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
}
.single-tv-show .twitterFeed strong {
  font-family: 'Open Sans';
  font-weight: bold;
}
.single-tv-show .twitterFeed .tweets {
  list-style: none;
}
.single-tv-show .twitterFeed .tweets img {
  width: 4.8rem;
  height: 4.8rem;
  float: left;
  margin-right: 1rem;
}
.single-tv-show .twitterFeed .content {
  float: left;
  width: 26rem;
}
.single-tv-show .twitterFeed .content strong {
  color: #2276bb;
  font-family: 'Open Sans';
  font-weight: bold;
}
.single-tv-show .twitterFeed .content a {
  color: #2276bb;
}
.single-tv-show .twitterFeed .content div {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 10px;
  font-size: 1rem;
  color: #959595;
}
.single-tv-show .twitterFeed li:before,
.single-tv-show .twitterFeed li:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.single-tv-show .twitterFeed li:after {
  clear: both;
}
.single-tv-show .twitterFeed li + li {
  padding-top: 1rem;
  border-top: 1px solid #eeeeee;
}
.single-tv-show .twitterFeed ul {
  padding-left: 0;
  margin: 1rem 0 0 0;
}
.single-tv-show .recommendations {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
  margin-left: 0;
}
.single-tv-show .recommendations strong {
  font-family: 'Open Sans';
  font-weight: bold;
}
.single-tv-show .recommendations .recommendedTVShows {
  list-style: none;
  padding-left: 0;
  width: 100%;
}
@media only screen and (max-width: 1006px) {
  .single-tv-show .recommendations {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 669px) {
  .single-tv-show .recommendations {
    margin-left: 0;
  }
}
.single-tv-show .recommendations li {
  width: 100%;
  height: 3.4rem;
  padding: 1rem 0;
}
.single-tv-show .recommendations li + li {
  border-top: 1px solid #eeeeee;
}
.single-tv-show .recommendations .channelName {
  color: #FFF;
  text-align: center;
  line-height: 3.1rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  width: 11.2rem;
  height: 3.1rem;
  background-color: #0092c5;
  border: 1px solid rgba(0, 146, 197, 0.13);
  float: left;
}
.single-tv-show .recommendations .channelName + div {
  margin-left: 1rem;
  float: left;
  width: 18.6rem;
}
.single-tv-show .twitterNav {
  border-top: 5px solid rgba(94, 169, 221, 0.25);
}
.single-tv-show .recoNav {
  border-top: 5px solid rgba(200, 196, 134, 0.25);
}
.single-tv-show .recoNav,
.single-tv-show .twitterNav {
  float: left;
  padding-left: 27.6rem;
  padding-top: 1rem;
}
.single-tv-show .recoNav .arrowButton,
.single-tv-show .twitterNav .arrowButton {
  width: 2rem;
  height: 3.5rem;
  display: block;
  float: left;
  margin-bottom: 2rem;
  background: url(../img/programNav-arrows.png) #c1c1c1;
  background: url(../img/programNav-arrows.png) -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), to(#a0a0a0));
  background: url(../img/programNav-arrows.png) -webkit-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: url(../img/programNav-arrows.png) -moz-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: url(../img/programNav-arrows.png) -ms-linear-gradient(top, #c1c1c1, #a0a0a0);
  background: url(../img/programNav-arrows.png) -o-linear-gradient(top, #c1c1c1, #a0a0a0);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 30%;
  cursor: pointer;
}
@media only screen and (max-width: 1006px) {
  .single-tv-show .recoNav .arrowButton,
  .single-tv-show .twitterNav .arrowButton {
    margin-top: 0.8rem;
    background-position: center 0;
  }
}
.single-tv-show .recoNav .arrowButton.disabled,
.single-tv-show .twitterNav .arrowButton.disabled {
  opacity: 0.3;
  cursor: default;
}
.single-tv-show .recoNav .arrowButton.navLeft,
.single-tv-show .twitterNav .arrowButton.navLeft {
  margin-right: 0.2rem;
  margin-right: 2px;
  background-position: center -4.7rem;
}
@media only screen and (max-width: 1006px) {
  .single-tv-show .recoNav .arrowButton.navLeft,
  .single-tv-show .twitterNav .arrowButton.navLeft {
    background-position: center -4.7rem;
  }
}
.showRating {
  display: block;
  list-style: none;
  background: url(../img/show-rating.png) no-repeat;
  height: 16px;
  height: 1.6rem;
  width: 80px;
  width: 8rem;
  background-position: -80px center;
  background-position: -8rem center;
  background-size: 160px 12px;
  background-size: 16rem 1.2rem;
  overflow: hidden;
  padding: 0;
  margin-left: 1rem;
}
.showRating.rating1 {
  background-position: -64px;
  background-position: -6.4rem;
}
.showRating.rating2 {
  background-position: -48px;
  background-position: -4.8rem;
}
.showRating.rating3 {
  background-position: -32px;
  background-position: -3.2rem;
}
.showRating.rating4 {
  background-position: -16px;
  background-position: -1.6rem;
}
.showRating.rating5 {
  background-position: 0;
}
.showRating li {
  height: 16px;
  height: 1.6rem;
  width: 14px;
  width: 1.4rem;
  float: left;
  margin-right: 2px;
  margin-right: 0.2rem;
}
@media only screen and (max-width: 669px) {
  .header .wrapper {
    background-color: #ffffff;
  }
}
.header .logo {
  width: 19.3rem;
  height: auto;
  float: left;
}
@media only screen and (max-width: 669px) {
  .header .logo {
    width: 11.2rem;
    height: auto;
  }
}
.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  color: #171717;
}
.header ul a {
  color: #171717;
}
@media only screen and (max-width: 669px) {
  .header ul {
    display: none;
  }
}
.header li {
  float: left;
  padding: 0 1rem;
}
.header li + li {
  border-left: 1px solid #dfdfdf;
}
.header nav.main ul {
  top: 3.3rem;
  position: relative;
}
.header .metaTop {
  width: 100%;
  height: 33px;
  line-height: 33px;
}
@media only screen and (max-width: 1006px) {
  .header .metaTop {
    width: 70%;
  }
}
@media only screen and (max-width: 669px) {
  .header .metaTop {
    display: none;
  }
}
.header .metaTop ul {
  float: right;
}
.header .metaTop li {
  border: none;
  line-height: 2.1rem;
  vertical-align: middle;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  color: #848385;
  padding: 0 0 0 2rem;
}
.header .metaTop a {
  color: #848385;
}
.header .metaTop a.facebook,
.header .metaTop a.twitter {
  width: 2.1rem;
  height: 2.1rem;
  background-image: url(../img/social-icons-top.png);
  background-repeat: no-repeat;
  background-position: top left;
  display: block;
  overflow: hidden;
  text-indent: -400rem;
}
.header .metaTop a.facebook {
  background-position: top right;
}
.header .userPanel {
  float: right;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #222222;
  margin-top: 3rem;
}
@media only screen and (max-width: 1006px) {
  .header .userPanel {
    margin-top: -6rem;
  }
}
@media only screen and (max-width: 669px) {
  .header .userPanel {
    margin-top: 0;
  }
}
@media only screen and (max-width: 669px) {
  .header .userPanel span {
    display: none;
  }
}
.header .user-portrait {
  width: 3.2rem;
  height: 3.2rem;
}
.header nav.mobile {
  cursor: pointer;
  display: none;
  float: left;
}
@media only screen and (max-width: 669px) {
  .header nav.mobile {
    margin: 0.5rem 5rem 0 1.5rem;
    display: block;
  }
}
.header nav.mobile div {
  width: 2.5rem;
  height: 0.35rem;
  margin: 0 0 0.45rem 0;
  background-color: #009dd3;
}
.footerTop {
  height: 5.4rem;
  line-height: 5.4rem;
  background-color: #00aae5;
  background: -webkit-gradient(linear, left top, left bottom, from(#00aae5), to(#019ed4));
  background: -webkit-linear-gradient(top, #00aae5, #019ed4);
  background: -moz-linear-gradient(top, #00aae5, #019ed4);
  background: -ms-linear-gradient(top, #00aae5, #019ed4);
  background: -o-linear-gradient(top, #00aae5, #019ed4);
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}
.footerTop a {
  color: #fff;
}
.footerTop ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 669px) {
  .footerTop ul {
    display: none;
  }
}
.footerTop li {
  float: left;
  margin-right: 1rem;
}
.footerTop li + li:before {
  content: '-';
  margin-right: 1rem;
  color: #fff;
}
.footerTop .toTop {
  float: right;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 14px;
  font-size: 1.4rem;
}
.footerTop .toTop:after {
  content: '»';
  display: inline-block;
  margin-left: 0.3rem;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  line-height: 0.3rem;
}
.footerBottom {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 25px;
  font-size: 2.5rem;
  color: #041623;
  background: #edf5f7;
  padding: 2.5rem 0;
}
.footerBottom a {
  color: #041623;
}
.footerBottom img {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 669px) {
  .footerBottom img {
    position: static;
  }
}
.footerBottom .partner {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  color: #000;
}
.footerBottom .partner:before {
  content: '»';
  margin-right: 0.3rem;
  color: #009dd3;
  font-family: 'Open Sans';
  font-weight: 600;
}
.footerBottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footerBottom div + div {
  padding-left: 2rem;
  border-left: 1px solid #a5daec;
}
@media only screen and (max-width: 669px) {
  .footerBottom div + div {
    padding: 0;
    border: none;
  }
}
.footerBottom .wrapper div {
  width: 31rem;
  float: left;
  min-height: 17.5rem;
  position: relative;
}
@media only screen and (max-width: 669px) {
  .footerBottom .wrapper div {
    min-height: 0;
    float: none;
    margin-bottom: 1rem;
  }
}
.footerBottom .social {
  margin-top: 2rem;
}
.footerBottom .social li {
  float: left;
}
.footerBottom .social a {
  height: 5.8rem;
  width: 5.8rem;
  background-image: url(../img/social-icons.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 5.8rem 11.6rem;
  margin-right: 2.5rem;
  display: block;
}
.footerBottom .social .twitter {
  background-position: bottom left;
}
@media only screen and (max-width: 1006px) {
  .footerBottom .right {
    display: none;
  }
}
@media only screen and (max-width: 669px) {
  .footerBottom .middle {
    float: left;
  }
  .footerBottom .left {
    float: right;
  }
}
.footerLegal {
  background-color: #FFF;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 11px;
  font-size: 1.1rem;
  color: rgba(0, 20, 27, 0.6);
  height: 3rem;
  line-height: 3rem;
}
#stage {
  position: relative;
  width: 980px;
  height: 396px;
}
#stage .stage {
  position: absolute;
  opacity: 0;
  display: none;
}
#stage .stage .stagebox {
  background: rgba(0, 131, 176, 0.8);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 131, 176, 0.8) 1%, rgba(0, 98, 131, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(0, 131, 176, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 131, 176, 0.8) 1%, rgba(0, 98, 131, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 131, 176, 0.8) 1%, rgba(0, 98, 131, 0.8) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 131, 176, 0.8) 1%, rgba(0, 98, 131, 0.8) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 131, 176, 0.8) 1%, rgba(0, 98, 131, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0083b0', endColorstr='#006283', GradientType=0);
  /* IE6-9 */
  position: absolute;
  top: 138px;
  left: 0;
  width: 430px;
  height: 243px;
  color: #fff;
}
#stage .stage .stagebox h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  margin: 20px 0 10px 40px;
}
#stage .stage .stagebox p {
  font-size: 13px;
  margin-left: 40px;
  margin-bottom: 5px;
}
#stage .stage .stagebox .date {
  margin-left: 40px;
}
#stage .stage .stagebox .date p {
  float: left;
  height: 33px;
  font-size: 14px;
  line-height: 33px;
  padding: 0 15px 0 25px;
  margin: 0;
  background: url(../../../../img/stage-testbild/date-icon.png) no-repeat #000000;
  background-position: center left 7px;
}
#stage .stage .stagebox .tv,
#stage .stage .stagebox .ut {
  font-size: 10px;
  color: #40ceff;
  margin: 0;
  float: left;
  padding-left: 25px;
}
#stage .stage .stagebox .tv {
  background: url(../../../../img/stage-testbild/tv-icon.png) top left no-repeat;
}
#stage .stage .stagebox .ut {
  background: url(../../../../img/stage-testbild/ut-icon.png) center left no-repeat;
}
#stage .stage .video {
  width: 980px;
  margin: 0 auto;
}
#stage .stage .video iframe {
  width: 980px;
}
#stage .stage .stage-nav {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  height: 44px;
  width: 16px;
  text-indent: -9999px;
}
#stage .stage .stage-nav.prev {
  background: url(../../../../img/stage-testbild/stage-nav.png) center left no-repeat;
  margin-left: -40px;
}
#stage .stage .stage-nav.next {
  background: url(../../../../img/stage-testbild/stage-nav.png) center right no-repeat;
  right: 0;
  margin-right: -40px;
}
#stage .active {
  opacity: 1;
  display: block;
}
#stagechanger {
  width: 980px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#stagechanger li {
  background: #adadad;
  text-align: center;
  float: left;
  width: 19.91%;
  height: 53px;
  display: block;
  border-right: 1px solid #adadad;
}
#stagechanger li a {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  color: #182a37;
  height: 48px;
  background: #dedede;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0;
}
#stagechanger li .time {
  height: 5px;
  width: 0;
  background: #009dd3;
  border-right: 1px solid #fff;
}
#stagechanger li:last-child {
  border: none;
}
#stagechanger li.active a {
  color: #fff;
  background: #484848;
  font-weight: 700;
}
.collapsable {
  margin-top: 0.3rem;
  color: #242424;
}
.collapsable h4 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
  background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
  background: -moz-linear-gradient(top, #efefef, #e5e5e5);
  background: -ms-linear-gradient(top, #efefef, #e5e5e5);
  background: -o-linear-gradient(top, #efefef, #e5e5e5);
  width: 100%;
  height: 3.4rem;
  line-height: 3.4rem;
  padding-left: 1rem;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.collapsable h4:after {
  content: ' ';
  background: url(../img/faq-arrow.png) no-repeat right 1rem top;
  background-size: 2rem 8.8rem;
  height: 3rem;
  width: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.collapsable h5 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  margin: 0;
  padding: 1.5rem 0 1rem;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.collapsable h5:after {
  content: ' ';
  background: url(../img/faq-arrow.png) no-repeat right top 0.5rem;
  background-size: 2rem 8.8rem;
  height: 3rem;
  width: 3rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.collapsable ul {
  list-style: none;
  padding: 0 1rem 0 2rem;
  display: none;
  background-color: rgba(0, 0, 0, 0.02);
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.collapsable li div {
  display: none;
}
.collapsable li.open h5 {
  color: #009dd3;
}
.collapsable li.open h5:after {
  background-position: right top -3.8rem;
}
.collapsable li.open div {
  display: block;
}
.collapsable p {
  line-height: 2.1rem;
  font-size: 1.3rem;
  padding-right: 4rem;
}
.collapsable > p {
  display: none;
  padding: 1rem 1rem 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.02);
  margin: 0;
}
.collapsable.open > p {
  display: block;
}
.collapsable.open ul {
  display: block;
}
.collapsable.open h4 {
  color: #009dd3;
}
.collapsable.open h4:after {
  background-position: right 1rem top -4.4rem;
}
.pagination {
  width: 100%;
  height: 5.1rem;
  line-height: 5.1rem;
  background-color: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
  background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
  background: -moz-linear-gradient(top, #efefef, #e5e5e5);
  background: -ms-linear-gradient(top, #efefef, #e5e5e5);
  background: -o-linear-gradient(top, #efefef, #e5e5e5);
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 17px;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  clear: both;
}
.pagination strong {
  font-family: 'Open Sans';
  font-weight: bold;
  color: #009dd3;
  cursor: default;
}
.pagination nav {
  float: right;
  height: 5.1rem;
}
.pagination ul {
  display: inline;
  margin-right: 3rem;
  padding-left: 0;
}
.pagination li {
  display: inline;
}
.pagination li a {
  color: #000;
}
.pagination li.next,
.pagination li.prev {
  background: url(../img/pagination-arrow.png) no-repeat center center;
  background-size: 0.8rem 1.1rem;
  width: 0.8rem;
  height: 1.1rem;
  margin-left: 0.5rem;
  display: inline-block;
}
.pagination li.next a,
.pagination li.prev a {
  width: 0.8rem;
  height: 1.1rem;
  display: block;
}
.pagination li.next.disabled,
.pagination li.prev.disabled {
  opacity: 0.3;
}
.pagination li.prev {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.newscolumn {
  width: 32rem;
  float: left;
  color: #131313;
  margin-bottom: 5rem;
}
.newscolumn h3 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
  padding-right: 1rem;
  margin-bottom: 0;
}
.newscolumn h4 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  font-size: 1.3rem;
  padding-right: 1rem;
  margin-top: 0;
}
.newscolumn .newscontent {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  padding-right: 1rem;
  height: 6rem;
  overflow: hidden;
}
.newscolumn .newscontent p {
  margin-top: 0;
}
.newscolumn .moreLess {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  font-size: 1.4rem;
  color: #99c420;
  text-decoration: underline;
  margin-top: 1rem;
  display: block;
  cursor: pointer;
}
.newscolumn .moreLess .less {
  display: none;
}
.newscolumn.open .newscontent {
  height: auto;
}
.newscolumn.open .moreLess .more {
  display: none;
}
.newscolumn.open .moreLess .less {
  display: inline;
}
.clear2 + .newscolumn,
.newscolumn + .newscolumn {
  margin-left: 1rem;
}
@media only screen and (max-width: 1006px) {
  .clear2 + .newscolumn {
    margin-left: 0;
  }
  .newscolumn + .clear3 + .newscolumn {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 669px) {
  .newscolumn + .newscolumn,
  .newscolumn + .clear3 + .newscolumn {
    margin-left: 0;
  }
}
.login {
  display: none;
  width: 23rem;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 1.4rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.22);
}
.login .fields {
  background-color: #eeeeee;
  padding: 2rem;
}
.login .links {
  background-color: #fff;
  padding: 2rem;
}
.login a {
  text-decoration: underline;
  color: #000;
  font-size: 1.2rem;
}
.login a.reset {
  color: #6d6d6d;
}
.login #error-message {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.availabilityCheck {
  overflow: hidden;
}
.availabilityCheck > div:before,
.availabilityCheck > div:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.availabilityCheck > div:after {
  clear: both;
}
.availabilityCheck .teaser {
  margin-top: 1rem;
}
.availabilityCheck .mapWrapper {
  width: 100%;
  height: 34rem;
  position: relative;
}
.availabilityCheck .map {
  width: 100%;
  height: 100%;
}
.availabilityCheck .zipCheck {
  width: 22rem;
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
}
.availabilityCheck .zipCheck h5 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
}
@media only screen and (max-width: 669px) {
  .availabilityCheck .zipCheck {
    width: auto;
    left: 2.5rem;
  }
}
.availabilityCheck .zipCheck .button {
  bottom: 7px;
  position: relative;
}
.availabilityCheck .explanation span {
  margin: 0 1rem;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 12px;
  font-size: 1.2rem;
}
.availabilityCheck .explanation span:before {
  content: ' ';
  width: 2.5rem;
  height: 1.3rem;
  display: inline-block;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 1rem;
  top: 0.2rem;
  position: relative;
}
.availabilityCheck .explanation .room-antenna:before {
  background-color: #00cc33;
}
.availabilityCheck .explanation .external-antenna:before {
  background-color: #00cccc;
}
.availabilityCheck .explanation .roof-antenna:before {
  background-color: #0066cc;
}
.availabilityCheck .explanation .no-reception:before {
  background-color: #ff6600;
}
.availabilityCheck .step0 {
  background: url(../img/availability-step0-bild.jpg);
  width: 100%;
  height: 20.4rem;
  position: relative;
}
.availabilityCheck .step0 .button {
  float: none;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}
@media only screen and (max-width: 669px) {
  .availabilityCheck .step0 .button {
    width: 27rem;
  }
}
.availabilityCheck .step {
  display: none;
}
.availabilityCheck .step0 {
  display: block;
  margin-top: 1rem;
}
/*
          MINI EPG
*/
.epg .m1 {
  height: 0px;
  height: 0rem;
}
.epg .m1 img {
  display: none;
}
.epg .m1.active img {
  display: block;
}
.epg .m1 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m1.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m1 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m1.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m1 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m1 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m1.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m1.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m2 {
  height: 10px;
  height: 1rem;
}
.epg .m2 img {
  display: none;
}
.epg .m2.active img {
  display: block;
}
.epg .m2 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m2.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m2 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m2.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m2 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m2 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m2.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m2.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m3 {
  height: 20px;
  height: 2rem;
}
.epg .m3 img {
  display: none;
}
.epg .m3.active img {
  display: block;
}
.epg .m3 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m3.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m3 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m3.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m3 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m3 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m3.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m3.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m4 {
  height: 30px;
  height: 3rem;
}
.epg .m4 img {
  display: none;
}
.epg .m4.active img {
  display: block;
}
.epg .m4 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m4.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m4 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m4.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m4 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m4 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m4.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m4.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m5 {
  height: 40px;
  height: 4rem;
}
.epg .m5 img {
  display: none;
}
.epg .m5.active img {
  display: block;
}
.epg .m5 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m5.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m5 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m5.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m5 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m5 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m5.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m5.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m6 {
  height: 50px;
  height: 5rem;
}
.epg .m6 img {
  display: none;
}
.epg .m6.active img {
  display: block;
}
.epg .m6 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m6.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m6 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m6.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m6 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m6 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m6.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m6.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m7 {
  height: 60px;
  height: 6rem;
}
.epg .m7 img {
  display: none;
}
.epg .m7.active img {
  display: block;
}
.epg .m7 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m7.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m7 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m7.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m7 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m7 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m7.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m7.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m8 {
  height: 70px;
  height: 7rem;
}
.epg .m8 img {
  display: none;
}
.epg .m8.active img {
  display: block;
}
.epg .m8 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m8.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m8 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m8.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m8 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m8 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m8.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m8.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m9 {
  height: 80px;
  height: 8rem;
}
.epg .m9 img {
  display: none;
}
.epg .m9.active img {
  display: block;
}
.epg .m9 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m9.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m9 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m9.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m9 .showTime {
  font-size: 8px;
  font-size: 0.8rem;
}
.epg .m9 .showTitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline;
}
.epg .m9.active .showTime {
  font-size: 16px;
  font-size: 1.6rem;
}
.epg .m9.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
  display: block;
}
.epg .m10 {
  height: 90px;
  height: 9rem;
}
.epg .m10 img {
  display: none;
}
.epg .m10.active img {
  display: block;
}
.epg .m10 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m10.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m10 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m10.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m11 {
  height: 100px;
  height: 10rem;
}
.epg .m11 img {
  display: none;
}
.epg .m11.active img {
  display: block;
}
.epg .m11 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m11.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m11 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m11.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m12 {
  height: 110px;
  height: 11rem;
}
.epg .m12 img {
  display: none;
}
.epg .m12.active img {
  display: block;
}
.epg .m12 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m12.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m12 .showTitle {
  font-size: 10px;
  font-size: 1rem;
}
.epg .m12.active .showTitle {
  font-family: 'open_sans_condensedbold';
  font-weight: normal;
  font-size: 23px;
  font-size: 2.3rem;
}
.epg .m13 {
  height: 120px;
  height: 12rem;
}
.epg .m13 img {
  display: none;
}
.epg .m13.active img {
  display: block;
}
.epg .m13 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m13.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m14 {
  height: 130px;
  height: 13rem;
}
.epg .m14 img {
  display: none;
}
.epg .m14.active img {
  display: block;
}
.epg .m14 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m14.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m15 {
  height: 140px;
  height: 14rem;
}
.epg .m15 img {
  display: none;
}
.epg .m15.active img {
  display: block;
}
.epg .m15 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m15.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m16 {
  height: 150px;
  height: 15rem;
}
.epg .m16 img {
  display: none;
}
.epg .m16.active img {
  display: block;
}
.epg .m16 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m16.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m17 {
  height: 160px;
  height: 16rem;
}
.epg .m17 img {
  display: none;
}
.epg .m17.active img {
  display: block;
}
.epg .m17 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m17.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m18 {
  height: 170px;
  height: 17rem;
}
.epg .m18 img {
  display: none;
}
.epg .m18.active img {
  display: block;
}
.epg .m18 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m18.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m19 {
  height: 180px;
  height: 18rem;
}
.epg .m19 img {
  display: none;
}
.epg .m19.active img {
  display: block;
}
.epg .m19 .showTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.epg .m19.active .showTitle {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
}
.epg .m20 {
  height: 190px;
  height: 19rem;
}
.epg .m21 {
  height: 200px;
  height: 20rem;
}
.epg .m22 {
  height: 210px;
  height: 21rem;
}
.epg .m23 {
  height: 220px;
  height: 22rem;
}
.epg .m24 {
  height: 230px;
  height: 23rem;
}
.epg .m25 {
  height: 240px;
  height: 24rem;
}
.epg .m26 {
  height: 250px;
  height: 25rem;
}
.epg .m27 {
  height: 260px;
  height: 26rem;
}
.epg .m28 {
  height: 270px;
  height: 27rem;
}
.epg .m29 {
  height: 280px;
  height: 28rem;
}
.epg .m30 {
  height: 290px;
  height: 29rem;
}
.epg .m31 {
  height: 300px;
  height: 30rem;
}
.epg .m32 {
  height: 310px;
  height: 31rem;
}
.epg .m33 {
  height: 320px;
  height: 32rem;
}
.epg .m34 {
  height: 330px;
  height: 33rem;
}
.epg .m35 {
  height: 340px;
  height: 34rem;
}
.epg .m36 {
  height: 350px;
  height: 35rem;
}
.epg .m37 {
  height: 360px;
  height: 36rem;
}
.epg .m38 {
  height: 370px;
  height: 37rem;
}
.epg .m39 {
  height: 380px;
  height: 38rem;
}
.epg .m40 {
  height: 390px;
  height: 39rem;
}
.epg .m41 {
  height: 400px;
  height: 40rem;
}
.epg .m42 {
  height: 410px;
  height: 41rem;
}
.epg .m43 {
  height: 420px;
  height: 42rem;
}
.epg .m44 {
  height: 430px;
  height: 43rem;
}
.epg .m45 {
  height: 440px;
  height: 44rem;
}
.epg .m46 {
  height: 450px;
  height: 45rem;
}
.epg .m47 {
  height: 460px;
  height: 46rem;
}
.epg .m48 {
  height: 470px;
  height: 47rem;
}
.epg .m49 {
  height: 480px;
  height: 48rem;
}
.epg .m50 {
  height: 490px;
  height: 49rem;
}
.epg .m51 {
  height: 500px;
  height: 50rem;
}
.epg .m52 {
  height: 510px;
  height: 51rem;
}
.epg .m53 {
  height: 520px;
  height: 52rem;
}
.epg .m54 {
  height: 530px;
  height: 53rem;
}
.epg .m55 {
  height: 540px;
  height: 54rem;
}
.epg .m56 {
  height: 550px;
  height: 55rem;
}
.epg .m57 {
  height: 560px;
  height: 56rem;
}
.epg .m58 {
  height: 570px;
  height: 57rem;
}
.epg .m59 {
  height: 580px;
  height: 58rem;
}
.epg .m60 {
  height: 590px;
  height: 59rem;
}
.epg .m61 {
  height: 600px;
  height: 60rem;
}
.epg .m62 {
  height: 610px;
  height: 61rem;
}
.epg .m63 {
  height: 620px;
  height: 62rem;
}
.epg .m64 {
  height: 630px;
  height: 63rem;
}
.epg .m65 {
  height: 640px;
  height: 64rem;
}
.epg .m66 {
  height: 650px;
  height: 65rem;
}
.epg .m67 {
  height: 660px;
  height: 66rem;
}
.epg .m68 {
  height: 670px;
  height: 67rem;
}
.epg .m69 {
  height: 680px;
  height: 68rem;
}
.epg .m70 {
  height: 690px;
  height: 69rem;
}
.epg .m71 {
  height: 700px;
  height: 70rem;
}
.epg .m72 {
  height: 710px;
  height: 71rem;
}
.epg .m73 {
  height: 720px;
  height: 72rem;
}
.epg .m74 {
  height: 730px;
  height: 73rem;
}
.epg .m75 {
  height: 740px;
  height: 74rem;
}
.epg .m76 {
  height: 750px;
  height: 75rem;
}
.epg .m77 {
  height: 760px;
  height: 76rem;
}
.epg .m78 {
  height: 770px;
  height: 77rem;
}
.epg .m79 {
  height: 780px;
  height: 78rem;
}
.epg .m80 {
  height: 790px;
  height: 79rem;
}
.epg .m81 {
  height: 800px;
  height: 80rem;
}
.epg .m82 {
  height: 810px;
  height: 81rem;
}
.epg .m83 {
  height: 820px;
  height: 82rem;
}
.epg .m84 {
  height: 830px;
  height: 83rem;
}
.epg .m85 {
  height: 840px;
  height: 84rem;
}
.epg .m86 {
  height: 850px;
  height: 85rem;
}
.epg .m87 {
  height: 860px;
  height: 86rem;
}
.epg .m88 {
  height: 870px;
  height: 87rem;
}
.epg .m89 {
  height: 880px;
  height: 88rem;
}
.epg .m90 {
  height: 890px;
  height: 89rem;
}
.epg .m91 {
  height: 900px;
  height: 90rem;
}
.epg .m92 {
  height: 910px;
  height: 91rem;
}
.epg .m93 {
  height: 920px;
  height: 92rem;
}
.epg .m94 {
  height: 930px;
  height: 93rem;
}
.epg .m95 {
  height: 940px;
  height: 94rem;
}
.epg .m96 {
  height: 950px;
  height: 95rem;
}
.epg .m97 {
  height: 960px;
  height: 96rem;
}
.epg .m98 {
  height: 970px;
  height: 97rem;
}
.epg .m99 {
  height: 980px;
  height: 98rem;
}
.epg .m100 {
  height: 990px;
  height: 99rem;
}
.epg .m101 {
  height: 1000px;
  height: 100rem;
}
.epg .m102 {
  height: 1010px;
  height: 101rem;
}
.epg .m103 {
  height: 1020px;
  height: 102rem;
}
.epg .m104 {
  height: 1030px;
  height: 103rem;
}
.epg .m105 {
  height: 1040px;
  height: 104rem;
}
.epg .m106 {
  height: 1050px;
  height: 105rem;
}
.epg .m107 {
  height: 1060px;
  height: 106rem;
}
.epg .m108 {
  height: 1070px;
  height: 107rem;
}
.epg .m109 {
  height: 1080px;
  height: 108rem;
}
.epg .m110 {
  height: 1090px;
  height: 109rem;
}
.epg .m111 {
  height: 1100px;
  height: 110rem;
}
.epg .m112 {
  height: 1110px;
  height: 111rem;
}
.epg .m113 {
  height: 1120px;
  height: 112rem;
}
.epg .m114 {
  height: 1130px;
  height: 113rem;
}
.epg .m115 {
  height: 1140px;
  height: 114rem;
}
.epg .m116 {
  height: 1150px;
  height: 115rem;
}
.epg .m117 {
  height: 1160px;
  height: 116rem;
}
.epg .m118 {
  height: 1170px;
  height: 117rem;
}
.epg .m119 {
  height: 1180px;
  height: 118rem;
}
.epg .m120 {
  height: 1190px;
  height: 119rem;
}
.epg .m121 {
  height: 1200px;
  height: 120rem;
}
.epg .m122 {
  height: 1210px;
  height: 121rem;
}
.epg .m123 {
  height: 1220px;
  height: 122rem;
}
.epg .m124 {
  height: 1230px;
  height: 123rem;
}
.epg .m125 {
  height: 1240px;
  height: 124rem;
}
.epg .m126 {
  height: 1250px;
  height: 125rem;
}
.epg .m127 {
  height: 1260px;
  height: 126rem;
}
.epg .m128 {
  height: 1270px;
  height: 127rem;
}
.epg .m129 {
  height: 1280px;
  height: 128rem;
}
.epg .m130 {
  height: 1290px;
  height: 129rem;
}
.epg .m131 {
  height: 1300px;
  height: 130rem;
}
.epg .m132 {
  height: 1310px;
  height: 131rem;
}
.epg .m133 {
  height: 1320px;
  height: 132rem;
}
.epg .m134 {
  height: 1330px;
  height: 133rem;
}
.epg .m135 {
  height: 1340px;
  height: 134rem;
}
.epg .m136 {
  height: 1350px;
  height: 135rem;
}
.epg .m137 {
  height: 1360px;
  height: 136rem;
}
.epg .m138 {
  height: 1370px;
  height: 137rem;
}
.epg .m139 {
  height: 1380px;
  height: 138rem;
}
.epg .m140 {
  height: 1390px;
  height: 139rem;
}
.epg .m141 {
  height: 1400px;
  height: 140rem;
}
.epg .m142 {
  height: 1410px;
  height: 141rem;
}
.epg .m143 {
  height: 1420px;
  height: 142rem;
}
.epg .m144 {
  height: 1430px;
  height: 143rem;
}
.epg .m145 {
  height: 1440px;
  height: 144rem;
}
.epg .m146 {
  height: 1450px;
  height: 145rem;
}
.epg .m147 {
  height: 1460px;
  height: 146rem;
}
.epg .m148 {
  height: 1470px;
  height: 147rem;
}
.epg .m149 {
  height: 1480px;
  height: 148rem;
}
.epg .m150 {
  height: 1490px;
  height: 149rem;
}
.epg .m151 {
  height: 1500px;
  height: 150rem;
}
.epg .m152 {
  height: 1510px;
  height: 151rem;
}
.epg .m153 {
  height: 1520px;
  height: 152rem;
}
.epg .m154 {
  height: 1530px;
  height: 153rem;
}
.epg .m155 {
  height: 1540px;
  height: 154rem;
}
.epg .m156 {
  height: 1550px;
  height: 155rem;
}
.epg .m157 {
  height: 1560px;
  height: 156rem;
}
.epg .m158 {
  height: 1570px;
  height: 157rem;
}
.epg .m159 {
  height: 1580px;
  height: 158rem;
}
.epg .m160 {
  height: 1590px;
  height: 159rem;
}
.epg .m161 {
  height: 1600px;
  height: 160rem;
}
.epg .m162 {
  height: 1610px;
  height: 161rem;
}
.epg .m163 {
  height: 1620px;
  height: 162rem;
}
.epg .m164 {
  height: 1630px;
  height: 163rem;
}
.epg .m165 {
  height: 1640px;
  height: 164rem;
}
.epg .m166 {
  height: 1650px;
  height: 165rem;
}
.epg .m167 {
  height: 1660px;
  height: 166rem;
}
.epg .m168 {
  height: 1670px;
  height: 167rem;
}
.epg .m169 {
  height: 1680px;
  height: 168rem;
}
.epg .m170 {
  height: 1690px;
  height: 169rem;
}
.epg .m171 {
  height: 1700px;
  height: 170rem;
}
.epg .m172 {
  height: 1710px;
  height: 171rem;
}
.epg .m173 {
  height: 1720px;
  height: 172rem;
}
.epg .m174 {
  height: 1730px;
  height: 173rem;
}
.epg .m175 {
  height: 1740px;
  height: 174rem;
}
.epg .m176 {
  height: 1750px;
  height: 175rem;
}
.epg .m177 {
  height: 1760px;
  height: 176rem;
}
.epg .m178 {
  height: 1770px;
  height: 177rem;
}
.epg .m179 {
  height: 1780px;
  height: 178rem;
}
.epg .m180 {
  height: 1790px;
  height: 179rem;
}
/*
          MINI EPG
*/
body {
  background-image: url(../img/page-background.png);
  border-top: 10px solid #80263f;
  border-bottom: 10px solid #80263f;
}
@media only screen and (max-width: 1006px) {
  body {
    border-top: 10px solid #2e801d;
    border-bottom: 10px solid #2e801d;
  }
}
@media only screen and (max-width: 669px) {
  body {
    border-top: 10px solid #204180;
    border-bottom: 10px solid #204180;
  }
}
p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
}
p strong {
  font-family: 'Open Sans';
  font-weight: 600;
}
section {
  width: 100%;
  margin-bottom: 3rem;
}
section:before,
section:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
section:after {
  clear: both;
}
section.grey {
  background-color: rgba(0, 0, 0, 0.04);
}
.wrapper {
  width: 98rem;
  margin: 0 auto;
}
@media only screen and (max-width: 1006px) {
  .wrapper {
    width: 65rem;
  }
}
@media only screen and (max-width: 669px) {
  .wrapper {
    width: 32rem;
  }
}
.wrapper.open {
  left: 50%;
  margin-left: -49rem;
  width: 107.5rem;
  position: relative;
}
@media only screen and (max-width: 1190px) {
  .wrapper.open {
    width: 100.7rem;
  }
}
@media only screen and (max-width: 1050px) {
  .wrapper.open {
    width: 98rem;
  }
}
@media only screen and (max-width: 1006px) {
  .wrapper.open {
    width: 74.5rem;
    margin-left: -32.5rem;
  }
}
@media only screen and (max-width: 860px) {
  .wrapper.open {
    width: 68rem;
  }
}
@media only screen and (max-width: 720px) {
  .wrapper.open {
    width: 65rem;
  }
}
@media only screen and (max-width: 669px) {
  .wrapper.open {
    width: 32rem;
    margin: 0 auto;
    position: static;
    left: auto;
  }
}
.sectionheader {
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.sectionheader h2 {
  display: inline-block;
  position: relative;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 30px;
  font-size: 3rem;
  color: #003c78;
}
.sectionheader h2 strong {
  font-family: 'Open Sans';
  font-weight: 600;
}
@media only screen and (max-width: 669px) {
  .sectionheader h2 {
    font-size: 27px;
    font-size: 2.7rem;
  }
}
.sectionheader h2:before {
  content: '';
  width: 600px;
  right: 100%;
  margin-right: 10px;
  display: inline-block;
  border-bottom: 5px solid rgba(8, 160, 212, 0.2);
  position: absolute;
  bottom: 8px;
}
.sectionheader h2:after {
  position: absolute;
  width: 600px;
  left: 100%;
  margin-left: 10px;
  content: '';
  display: inline-block;
  border-bottom: 5px solid rgba(8, 160, 212, 0.2);
  bottom: 8px;
}
.sectionfooter {
  width: 100%;
  height: 0.5rem;
  background-color: rgba(8, 160, 212, 0.2);
}
.onlyLarge {
  display: block;
}
@media only screen and (max-width: 1006px) {
  .onlyLarge {
    display: none;
  }
}
.clear3:before,
.clear3:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clear3:after {
  clear: both;
}
@media only screen and (max-width: 1006px) {
  .clear3:before,
  .clear3:after {
    content: "";
    /* 1 */
    display: none;
    /* 2 */
  }
  .clear3:after {
    clear: none;
  }
}
.clear2:before,
.clear2:after {
  content: "";
  /* 1 */
  display: none;
  /* 2 */
}
.clear2:after {
  clear: none;
}
@media only screen and (max-width: 1006px) {
  .clear2:before,
  .clear2:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .clear2:after {
    clear: both;
  }
}
.showOnMore {
  display: none;
}
