<!DOCTYPE html>
<html ng-app="demoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="../bower_components/flatly-less/css/flatly.css" />
    <link rel="stylesheet" href="./css/main.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

</head>
<body>

</body>
<!-- Basic Header -->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Your artworks</a>
  </div>
</div>
<div id="main" ng-controller="mainController">
	<!-- Search -->
	<div id="search" class="search col-md-10 col-lg-10 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<form class="form-horizontal col-lg-10 col-md-10 col-sm-10">
					  <input type="text" class="form-control input-big" placeholder="Search">
                </form>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 marginToButton">
				<a href="#" class="btn btn-default" ng-click="showArtwork()"><span class="glyphicon glyphicon-plus"></span> Create Artwork</a>
			</div>
		</div>
	</div>
	<hr class="col-lg-12 col-md-12 col-sm-12 col-cx-12"/>
	<!-- Responsive Table Header-->
	<div id="artworkList" class="row">
		<div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-2 table-border">
			<div class="title">
				<h4>Artist & Title & Date</h4>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-border">
			<h4>Medium & Material</h4>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 table-border">
			<h4>Dimensions & Color</h4>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-border">
			<h4>Price</h4>
		</div>
		<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tableBottomLine"/>
	</div>
	<div id="newArtwork" ng-if="isNewArtwork" ng-cloak class="ng-cloak">
		<div class="row newEntry" >
				<div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-2">
					<div class="title">
						<input ng-model="artwork.artist" class="form-control input-big" placeholder="Type in an artist..."></input><br/>
						<input ng-model="artwork.title" class="form-control input-big" placeholder="Title of artwork..."></input><br/>
						<input ng-model="artwork.year" class="form-control input-big" placeholder="Year..."></input><br/>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<ng-dropdown ng-model="mediumSelection" ng-data="selectedMedium.element" ></ng-dropdown>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
					<span  ng-if="selectedMedium.element != ''"><input ng-model="artwork.dimension1" class="input-small"> x <input ng-model="artwork.dimension2" class="input-small"> <span ng-if="selectedMedium.element.dimensions === 3">x <input ng-model="artwork.dimension3" class="input-small"></span><ng-dropdown ng-model="dimensionUnits" ng-data="selectedUnit.element" class="smallDropdown"></ng-dropdown> </span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<input ng-model="artwork.price" class="form-control input-big" placeholder="Type in a price.."><br/>
					<p>Net: <input type="checkbox" ng-model="artwork.includes_vat"> Gross: <input type="checkbox" ></p>
					<p ng-if="artwork.includes_vat"> VAT: <input ng-model="artwork.vat" class="input-small"></p>
				</div>
				<div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-12 col-xs-12">
					<div class="description">
						<textarea ng-model="artwork.description" class="description" placeholder="Description">
						</textarea>
					</div>
				</div>
		</div>
		<div class="row">
			<a href="#" class="btn btn-default col-md-offset-1 col-lg-offset-1 col-sm-offset-1" ng-click="createArtwork(artwork)"><span class="glyphicon glyphicon-plus"></span> Create Artwork</a>
		</div>
				<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tableBottomLine"/>
	</div>
	<div id="listArtworks" ng-cloak class="ng-cloak">
		<div class="row artEntry" ng-repeat="artwork in artworks">
			<div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-2">
				<div class="title">
					<h4>{{artwork.artist}}</h4>
					<h4>{{artwork.title}}</h4>
					<h4>{{artwork.year}}</h4>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<p>{{artwork.mediumList.name}}</p>
				<span ng-repeat="material in artwork.materialList">
					<span class="tag">{{material.name}}</span>
				</span>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
				<p>{{artwork.dimension1}} x {{artwork.dimension2}} <span ng-if="artwork.mediumList.dimensions == 3">x {{artwork.dimension3}}</span><span> <span ng-if="artwork.dimensions_in_cm"> cm</span> <span ng-if="!artwork.dimensions_in_cm"> inches</span></p>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<h4>{{artwork.price}} ,<span ng-if="artwork.includes_vat">VAT: {{artwork.vat}} %</span></h4>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				<a href="#" class="btn btn-danger btn-xs" ng-click="deleteArtwork(artwork)"><span class="glyphicon glyphicon-remove"></span></a>
			</div>
			<div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-12 col-xs-12">
				<div class="description">
					<p>{{artwork.description}}</p>
				</div>
			</div>
			<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tableBottomLine"/>
		</div>
	</div>

</div>
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-mocks/angular-mocks.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<!-- endbower -->
<script src="./js/main.js" ></script>
<script src="./js/controllers/controllers.js" ></script>
<script src="./js/services/services.js" ></script>
<script src="./js/directives/ngDropdown.js" ></script>



</html>