@font-face {
    font-family: 'iconsRegular';
    src: url('icons-16b88279f94fa4c2dd11d84e473a7aa2.eot');
    src: url('icons-16b88279f94fa4c2dd11d84e473a7aa2.eot') format('embedded-opentype'),
         url('icons-16b88279f94fa4c2dd11d84e473a7aa2.woff2') format('woff2'),
         url('icons-16b88279f94fa4c2dd11d84e473a7aa2.woff') format('woff'),
         url('icons-16b88279f94fa4c2dd11d84e473a7aa2.ttf') format('truetype'),
         url('icons-16b88279f94fa4c2dd11d84e473a7aa2.svg#iconsRegular') format('svg');
}
