/**
** Additional CSS Definitionss
**/

/* Search Input*/
.input-big{
	padding: 18px 6px !important;
}

.marginToButton{
	margin-left: 0px;
}

/*Adding pseudo table like border */
.table-border{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	height: 80px;
	margin-bottom: -22px;
}

.tableBottomLine{
	border: 0px;
	border-bottom: 1px solid black;
}
/* The last one 4th should have an additional border right*/
.table-border:nth-child(4){
	border-right: 1px solid black;
}

.tag:nth-child(n+1):after{
	content:",";
}

.ng-cloak{
	display:none !important;
}

.smallDropdown{
	float: right;
}

.smallDropdown select{
	width: 120px;
}

.description{
	width: 95%;
}

@media (max-width: 767px){
	.marginToButton{
		margin-left: 15px;
	}
	.table-border h4{
		font-size: 14px;
	}
}